/* 
.mobile_menu {
  position: absolute;
  top: -50px;
  right: 15px;
  width: auto;
}

 Remove texto "MENU" 
.slicknav_menu .slicknav_menutxt {
  display: none !important;
}

 Botão hambúrguer 
.slicknav_btn {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

 Animação quando o menu está aberto 
.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
  opacity: 0;
}

.slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

 Barras do hamburguer 
.slicknav_menu .slicknav_icon-bar {
  background-color: #000;
  height: 4px;
  width: 28px;
  margin: 5px 0;
  display: block;
}

 Dropdown principal 
.slicknav_menu .slicknav_nav {
  background: #fff;
  border-top: 1px solid #eee;
  width: 100%;
  text-align: left;
}

 Itens
.slicknav_nav li {
  display: block;
  list-style: none;
}

.slicknav_nav a {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
}

.slicknav_nav a:hover {
  background: #f2f2f2;
  color: #009DFF;
}

.slicknav_menu .slicknav_nav a.active {
  color: #009DFF;
}

 Media queries para mobile
@media (max-width: 767px) {
  .slicknav_menu {
    margin: 0;
  }

  .slicknav_menu .slicknav_nav a i {
    display: none;
    esconde ícones dentro dos links
  }
}

/*